---
import BasicLayout from "../layouts/BasicLayout.astro";
import "../styles/global.css";

const identity = {
	name: "장의영",
	country: "Seoul in Korea",
	occupation: "Software Engineer",
	hobbies: ["사진찍기", "글쓰기", "기타치기", "요리하기"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BasicLayout pageTitle="About Me!">
  <ul>
    <li>제 이름은 {identity.name} 입니다.</li>
    <li>{identity.country}에 거주합니다. {identity.occupation}를 목표로 하고 있습니다.</li>
    {identity.hobbies.length >= 2 &&
      <li>취미는 여러개가 있습니다. {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  <style define:vars={{skillColor, fontWeight, textCase}}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>

</BasicLayout>
